<div
  class="col-xs-12 col-sm-6 col-lg-4 pt-2 filtr-item"
  data-category='all, {{ with .categories }}{{ delimit . "," }}{{ end }}'
>
  <a
    class="text-decoration-none"
    {{
    if
    .url
    }}href="{{ .url }}"
    title="{{ .name }}"
    target="_blank"
    rel="noopener"
    {{
    end
    }}
  >
    <div class="card">
      <div class="card-head d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          {{ if .logo }} {{ $logoImage := resources.Get .logo }} {{/* SVG は Fit
          操作がサポートされていないので条件分岐 */}} {{ if ne
          $logoImage.MediaType.SubType "svg" }} {{ $logoImage = $logoImage.Fit
          "24x24" }} {{ end }}
          <img
            class="card-img-xs"
            src="{{ $logoImage.RelPermalink }}"
            alt="{{ .name }}"
          />
          {{ else if .icon }} {{ $iconName := .icon }}
          <span class="{{ $iconName }}"></span>
          {{ end }}
          <h5 class="card-title mb-0 ml-2">{{ .name }}</h5>
        </div>
        {{ if .level }}
        <span class="skill-level badge badge-secondary">{{ .level }}</span>
        {{ end }}
      </div>
      <div class="card-body text-justify pt-1 pb-1">
        <p class="card-text">{{ .summary | markdownify }}</p>
      </div>
    </div>
  </a>
</div>
